ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
li {
  margin: 5px;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 5px 15px;
  background-color: #333;
  border-radius: 5px;
}

#root > div {
  text-align: center;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images > div {
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 5px;
}
.images > div > img {
  width: 200px;
  height: 200px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.images > div > img:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}